.container {
    background-color: #ba3357;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    border-radius: 20px;
}

body {
    background-image: url("bg.png");
    background-size: cover;
    font-weight: bold;
}

p {
    text-size-adjust: 23px;
}

.button {
    height: 60px;
    width: 100px;
    background-color: grey;
    color: whitesmoke;
    border-radius: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}